$verde: #39d084;
$rojo: #f04949;
$azul: #203748;
$blanco:#efefef;
$hover:#39d084;
$font-text-navbar:'Source Sans Pro', sans-serif;
$text-body:'Khula', sans-serif;

/*iconos font-awesome*/
//<i class="fa fa-paper-plane" aria-hidden="true"></i> avion de papel
//<i class="fa fa-picture-o" aria-hidden="true"></i> imagen
//<i class="fa fa-file-text-o" aria-hidden="true"></i> papel
//<i class="fa fa-user" aria-hidden="true"></i> user
//<i class="fa fa-trophy" aria-hidden="true"></i> trofeo